/* CSS para Logo */
.logo {
    width: 200px; /* Define a largura do logo */
    height: auto; /* Mantém a proporção do logo */
    display: block; /* Garante que o logo é tratado como um bloco 
    margin: 0 auto;  Centraliza o logo horizontalmente 
    padding: 10px; Adiciona algum espaço ao redor do logo */
}

.logo img {
    max-width: 100%; /* Garante que a imagem do logo não ultrapassa a largura definida */
    height: auto; /* Mantém a proporção da imagem 
    border-radius: 8px;  Bordas arredondadas, se quiser */
    transition: transform 0.3s ease; /* Animação de transição suave */
}

.logo img:hover {
    transform: scale(1.05); /* Amplia ligeiramente o logo ao passar o rato */
}

#backToTopBtn {
    display: none; /* Oculto por defeito */
    position: fixed; /* Fixo na tela */
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    z-index: 99; /* Fica acima de outros elementos */
    border: none; /* Sem borda */
    outline: none; /* Sem contorno */
    background-color: #FF6B2C; /* Cor de fundo de acordo com o botão "Login" */
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor de mãozinha */
    padding: 15px 20px; /* Espaçamento interno */
    border-radius: 50px; /* Bordas arredondadas para um aspeto moderno */
    font-size: 16px; /* Tamanho do texto */
    font-weight: bold; /* Texto em negrito */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra subtil */
    transition: all 0.3s ease-in-out; /* Transição suave */
  }
  
  #backToTopBtn:hover {
    background-color: #f95a17; /* Cor ao passar o cursor, mais escura para efeito */
  }